[submodule "xorstr"]
	path = xorstr
	url = https://github.com/JustasMasiulis/xorstr.git
[submodule "lazy_importer"]
	path = lazy_importer
	url = https://github.com/JustasMasiulis/lazy_importer.git
[submodule "XAntiDebug"]
	path = XAntiDebug
	url = https://github.com/strivexjun/XAntiDebug.git
[submodule "portable-executable-library"]
	path = portable-executable-library
	url = https://github.com/SpadesA99/portable-executable-library.git
[submodule "AES"]
	path = AES
	url = https://github.com/SergeyBel/AES.git
[submodule "colored-cout"]
	path = colored-cout
	url = https://github.com/yurablok/colored-cout.git
